a,
span,
b,
i,
s,
p,
div,
select,
option {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn {
    color: rgba(31, 56, 88, .6);
    padding: 0 8px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
    border: 1px solid rgba(31, 56, 88, .3);
    background-color: #fff;
    border-radius: 3px;
    transition: all .3s ease;
    outline: none;
}

.btn:hover {
    border-color: rgba(31, 56, 88, .6);
    background-color: rgba(31, 56, 88, .06);
}

.btn:active {
    border-color: #1f3858;
    background-color: rgba(31, 56, 88, .1);
    color: #1f3858;
}

.btn:disabled {
    color: rgba(31, 56, 88, .3);
    background-color: rgba(31, 56, 88, .04);
    border-color: rgba(31, 56, 88, .2);
    cursor: not-allowed;
}

.input {
    color: rgba(0, 0, 0, .8);
    width: 300px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #bcc3cd;
    border-radius: 3px;
    font-size: 12px;
}

.input:hover {
    border: 1px solid #a5afbc
}

.input:focus {
    border: 1px solid #79889b;
    outline: 0
}

.input::placeholder {
    color: rgba(31, 56, 88, .4) !important
}

.lable {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 10px;
}

.line {
    display: block;
    margin: 5px 0;
}

.select {
    color: rgba(31, 56, 88, .6);
    padding: 0 8px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
    border: 1px solid rgba(31, 56, 88, .3);
    background-color: #fff;
    border-radius: 3px;
    transition: all .3s ease;
    outline: none;
}

.select-loglist {
    color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 200px;
    outline: none;
    overflow: auto;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.select-loglist option {
    line-height: 16px;
}

.btns {
    margin: 10px 0;
    margin-left: 90px;
}

.title {
    line-height: 25px;
    padding-left: 11px;
}

body {
    margin-top: 30px;
}